**å£°æ˜ï¼š**

helloï¼Œå°ä¼™ä¼´ä»¬~

æ„Ÿè°¢å¤§å®¶å¯¹å°é²¸é±¼çš„å¤§åŠ›æ”¯æŒï¼Œç›®å‰æˆ‘åœ¨æœé›†å¤§é‡ç»å…¸ä¹¦ç±å’Œèµ„æ–™ï¼Œå…¶ä¸­æ¶‰åŠï¼š

1. **ğŸ”¥æ•°å­¦ç»Ÿè®¡ï¼š**æ‰“å¥½ç†è®ºåŸºç¡€ï¼
2. ğŸ”¥**æ•°æ®åˆ†æï¼š**åŒ…æ‹¬æ•°æ®åˆ†æã€å•†ä¸šæ•°æ®åˆ†æç­‰
3. ğŸ”¥**æ•°æ®ç§‘å­¦ï¼š**æ•°æ®å»ºæ¨¡ã€æœºå™¨å­¦ä¹ ã€AIæ¡†æ¶ç­‰
4. ğŸ”¥**Python/R cookbook**

è¿˜æœ‰å…³äºæ•°æ®ç»“æ„ã€ç®—æ³•ã€æ•°æ®åº“ç­‰ç­‰

ä»¥åŠé¢ç»ã€æ›´å¤šçš„è§†é¢‘èµ„æ–™æ•´ç†ï¼

æ€»ä¹‹ï¼Œè¿™ä¸ªä»“åº“ä¼šä¸€ç›´æ›´æ–°ï¼Œåˆ†äº«ä¸ä¼šåœæ­¢ï¼

ä¸æ”¶è´¹ï¼Œä½†åªåˆ†äº«ç»™æœ‰éœ€è¦çš„äººï¼Œæ›¾ç»æ²¡äººå¸®æˆ‘æŒ‡è·¯ï¼Œä½†æˆ‘ä¸å¸Œæœ›å¤§å®¶èµ°å¤ªå¤šå¼¯è·¯ï¼

**å…¬ä¼—å·ï¼šé²¸æ**

![](https://tuchuangs.com/imgs/2022/02/e213757d6a0c0007.jpg)

## Pandas æ•°æ®åˆ†æåŠŸèƒ½ä¸€è§ˆï¼ˆç¬¬äºŒéƒ¨åˆ†ï¼‰

åŸºæœ¬çŸ¥è¯†ç¬¬äºŒå¼¹ï¼ŒåŒ…æ‹¬é™„åŠ é¢˜å“¦ï¼

<font color = red>æœ¬æ¬¡bonusæ»¡åˆ†ï¼š9åˆ†ï¼</font>

## æŠ½æ ·

In [1]:
# åˆ›å»ºéšæœºæ•°df

import pandas as pd
import numpy as np

df = pd.read_csv('./Iris.csv')

### åˆ†ç»„ã€groupbyã€‘ä¸‹

ä¸‹é¢ç»™å‡ºäº†ä¸€ç³»åˆ—çš„æ¯”è¾ƒå®ç”¨çš„ä¸€äº›aggregation functionã€‚

[![baOlU1.png](https://s4.ax1x.com/2022/03/04/baOlU1.png)](https://imgtu.com/i/baOlU1)

ä¸¾å‡ ä¸ªä¾‹å­

In [2]:
feature_cols = df.columns[1:5]

In [3]:
feature_cols

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

### æè¿°æ€§ç»Ÿè®¡

In [4]:
# è®¡ç®—æ¯ä¸ªç±»åˆ«çš„å››ä¸ªç‰¹å¾çš„å‡å€¼ã€‚
df.groupby('Species')[feature_cols].mean()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [5]:
# è®¡ç®—æ¯ä¸ªç±»åˆ«çš„å››ä¸ªç‰¹å¾çš„å‡å€¼ã€‚
df.groupby('Species')[feature_cols].describe().T

Species              Iris-setosa  Iris-versicolor  Iris-virginica
SepalLengthCm count    50.000000        50.000000       50.000000
              mean      5.006000         5.936000        6.588000
              std       0.352490         0.516171        0.635880
              min       4.300000         4.900000        4.900000
              25%       4.800000         5.600000        6.225000
              50%       5.000000         5.900000        6.500000
              75%       5.200000         6.300000        6.900000
              max       5.800000         7.000000        7.900000
SepalWidthCm  count    50.000000        50.000000       50.000000
              mean      3.418000         2.770000        2.974000
              std       0.381024         0.313798        0.322497
              min       2.300000         2.000000        2.200000
              25%       3.125000         2.525000        2.800000
              50%       3.400000         2.800000        3.000000
              75%       3.675000         3.000000        3.175000
              max       4.400000         3.400000        3.800000
PetalLengthCm count    50.000000        50.000000       50.000000
              mean      1.464000         4.260000        5.552000
              std       0.173511         0.469911        0.551895
              min       1.000000         3.000000        4.500000
              25%       1.400000         4.000000        5.100000
              50%       1.500000         4.350000        5.550000
              75%       1.575000         4.600000        5.875000
              max       1.900000         5.100000        6.900000
PetalWidthCm  count    50.000000        50.000000       50.000000
              mean      0.244000         1.326000        2.026000
              std       0.107210         0.197753        0.274650
              min       0.100000         1.000000        1.400000
              25%       0.200000         1.200000        1.800000
              50%       0.200000         1.300000        2.000000
              75%       0.300000         1.500000        2.300000
              max       0.600000         1.800000        2.500000

<div class="alert alert-block alert-success"><b>Step 1 (2åˆ†)</b>: å¯¹å„ç»„è¿›è¡Œæè¿°æ€§ç»Ÿè®¡ï¼šç¬¬ä¸‰å››åˆ†ä½æ•°ï¼ˆQ3ï¼‰å’Œç¬¬ä¸€å››åˆ†ä½æ•°ï¼ˆQ1ï¼‰</div>

In [6]:
# ä½ çš„ç­”æ¡ˆ

                      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa     0.25          4.800         3.125          1.400           0.2
                0.75          5.200         3.675          1.575           0.3
Iris-versicolor 0.25          5.600         2.525          4.000           1.2
                0.75          6.300         3.000          4.600           1.5
Iris-virginica  0.25          6.225         2.800          5.100           1.8
                0.75          6.900         3.175          5.875           2.3

é‚£ä¹ˆå¦‚ä½•åŒæ—¶è®¡ç®—å¤šä¸ªç»Ÿè®¡æŒ‡æ ‡å‘¢ï¼Ÿä½¿ç”¨`agg()`å‡½æ•°

In [7]:
stats_list = ['mean','var','std','median','min','max']

df.groupby('Species')[feature_cols].agg(stats_list).T

Species               Iris-setosa  Iris-versicolor  Iris-virginica
SepalLengthCm mean       5.006000         5.936000        6.588000
              var        0.124249         0.266433        0.404343
              std        0.352490         0.516171        0.635880
              median     5.000000         5.900000        6.500000
              min        4.300000         4.900000        4.900000
              max        5.800000         7.000000        7.900000
SepalWidthCm  mean       3.418000         2.770000        2.974000
              var        0.145180         0.098469        0.104004
              std        0.381024         0.313798        0.322497
              median     3.400000         2.800000        3.000000
              min        2.300000         2.000000        2.200000
              max        4.400000         3.400000        3.800000
PetalLengthCm mean       1.464000         4.260000        5.552000
              var        0.030106         0.220816        0.304588
              std        0.173511         0.469911        0.551895
              median     1.500000         4.350000        5.550000
              min        1.000000         3.000000        4.500000
              max        1.900000         5.100000        6.900000
PetalWidthCm  mean       0.244000         1.326000        2.026000
              var        0.011494         0.039106        0.075433
              std        0.107210         0.197753        0.274650
              median     0.200000         1.300000        2.000000
              min        0.100000         1.000000        1.400000
              max        0.600000         1.800000        2.500000

<div class="alert alert-block alert-success"><b>Step 2 (4åˆ†)</b>ï¼š
é‚£ä¹ˆå¦‚ä½•å¯¹ä¸åŒçš„åˆ—æ±‚ä¸åŒçš„ç»Ÿè®¡é‡ï¼Ÿ 
è¯·å¯¹:
    
- SepalLengthCmè®¡ç®—mean
- SepalWidthCmè®¡ç®—var
- PetalLengthCmè®¡ç®—max
- PetalWidthCmè®¡ç®—min
    
å¹¶ä½¿ç”¨renameå‡½æ•°å¯¹indexå’Œcolumnè¿›è¡Œé‡å‘½åã€‚
</div>

In [9]:


# ç­”æ¡ˆåº”è¯¥å’Œä¸‹é¢å®Œå…¨ä¸€æ ·ï¼

,SepalLengthCçš„å‡å€¼,SepalWidthCmçš„æ–¹å·®,PetalLengthCmçš„æœ€å¤§å€¼,PetalWidthCmçš„æœ€å°å€¼
Species,,,,
setosa,5.006,0.145180,1.9,0.1
versocolor,5.936,0.098469,5.1,1.0
virginica,6.588,0.104004,6.9,1.4

<div class="alert alert-block alert-success"><b>Step 3 (4åˆ†)</b>ï¼š
é‚£ä¹ˆå¦‚ä½•å¯¹ä¸åŒçš„åˆ—æ±‚ä¸åŒçš„ã€è‡ªå®šä¹‰ã€‘ç»Ÿè®¡é‡ï¼Ÿ 
è¯·å¯¹:
    
- SepalLengthCmè®¡ç®—IQR
- SepalWidthCmè®¡ç®—æå·®
- PetalLengthCmè®¡ç®—å‡ ä½•å¹³å‡å€¼
- PetalWidthCmå‡å€¼å¤§äº1è¿”å›Trueï¼Œåä¹‹ä¸ºFalse
</div>

In [12]:
# ä½ çš„ç­”æ¡ˆ
# ç»“æœè·Ÿä¸‹é¢ä¸€æ ·ï¼

,SepalLengthCm_iqr,SepalWidthCm_range,PetalLengthCm_geomean,PetalWidthCm_bool
Species,,,,
Iris-setosa,0.400,2.1,1.453739,False
Iris-versicolor,0.700,1.4,4.233081,True
Iris-virginica,0.675,1.6,5.525789,True

### apply vs. transform

|                |                             agg                              |                            apply                             |                          transform                           |
| :------------: | :----------------------------------------------------------: | :----------------------------------------------------------: | :----------------------------------------------------------: |
|      æè¿°      | <font color='red'>Aggregate</font> using <font color='#3198FB'>one or more operations</font> over the specified axis. | <font color='red'>Apply</font> <font color='#3198FB'>a function</font> along an axis of the DataFrame. | Call `func` on self producing a DataFrame with <font color='red'>the same axis</font> <font color='red'>shape as self</font>. |
|      å‡½æ•°      | Summary statsï¼šmeanã€std<br />Numpy operations: np.mean/np.max<br />lambdaï¼ˆå¿…é¡»é‡‡ç”¨aggregateå‡½æ•°ï¼‰ |         Numpy operations: np.mean/np.max<br />lambda         | Summary statsï¼šmeanã€std<br />Numpy operations: np.mean/np.max<br />lambda |
|      å¯¹è±¡      |                             axis                             |                              df                              |                             axis                             |
| ä¸åŒåˆ—ä¹‹é—´è¿ç®— |                             ä¸èƒ½                             |                             å¯ä»¥                             |                             ä¸èƒ½                             |
|   è¿”å›shape    |             å’Œgroupbyçš„ç±»åˆ«æ•°ä¸€æ ·<br />summarise             |             å’Œgroupbyçš„ç±»åˆ«æ•°ä¸€æ ·<br />summarise             |               å’ŒåŸæ•°æ®è¡Œæ•°ä¸€æ ·<br />broadcast                |

## å°ç»“

ä»Šå¤©å°±åˆ†äº«åˆ°è¿™é‡Œï¼Œæ€»ç»“ä¸€ä¸‹ï¼

groupby+agg/apply/transform

[![H65i3d.gif](https://s4.ax1x.com/2022/02/14/H65i3d.gif)](https://imgtu.com/i/H65i3d)

<img src="https://s4.ax1x.com/2022/02/14/H65vxs.jpg" alt="image-20220214212808413" style="zoom:25%;" />