___

<a href='https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg2OTU4NzI3NQ==&action=getalbum&album_id=1764511202329624577&scene=126#wechat_redirect'> <img src=../../../pic/project_logo.jpg></a>
___

# Series

Series 与 NumPy 数组非常相似（实际上构建在 NumPy 数组对象之上）。 

NumPy 数组与 Series 的区别在于，Series 可以具有轴标签，这意味着它可以由标签索引，而不仅仅是数字位置。

它也不需要保存数字数据，它可以保存任意 Python 对象。

In [1]:
import numpy as np
import pandas as pd

### 创建

您可以将list、numpy array 或 dict 转换为 Series

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

** 用列表 **

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** NumPy 数组 **

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

** 字典 **

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### 数据

pandas 系列可以容纳多种对象类型

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# 甚至函数
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## 使用索引

使用 Series 的关键是了解它的索引。 

Pandas 通过允许快速查找信息（类似于哈希表或字典）来使用这些索引名称或数字。

创建两个序列，ser1 和 ser2：

In [11]:
ser1 = pd.Series([1,2,3,4],index = ['北京', '上海','深圳', '广东'])

In [12]:
ser1

北京    1
上海    2
深圳    3
广东    4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],index = ['北京', '西藏','深圳', '新疆'])

In [14]:
ser2

北京    1
西藏    2
深圳    5
新疆    4
dtype: int64

In [15]:
ser1['北京']

1

不同index的合并会基于index产生NaN

In [16]:
ser1 + ser2

上海    NaN
北京    2.0
广东    NaN
新疆    NaN
深圳    8.0
西藏    NaN
dtype: float64

暂停在这里，继续讨论 DataFrames。

# Great Job!