___

<a href='https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg2OTU4NzI3NQ==&action=getalbum&album_id=1764511202329624577&scene=126#wechat_redirect'> <img src=../../../../pic/project_logo.jpg></a>
___

# Data Input and Output

这个 notebook 是获取输入和输出的参考代码，pandas 可以用 pd.read_ 方法读取各种文件类型。

让我们看一下最常见的数据类型：

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [2]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [3]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [4]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [5]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [6]:
df = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [7]:
df = df[0]
df

,Minnesota,Minnesota.1
0,State,State
1,State of Minnesota,State of Minnesota
2,.mw-parser-output .ib-settlement-cols{text-ali...,.mw-parser-output .ib-settlement-cols{text-ali...
3,"Nickname(s): Land of 10,000 Lakes;North Star S...","Nickname(s): Land of 10,000 Lakes;North Star S..."
4,Motto(s): L'Étoile du Nord (French: The Star o...,Motto(s): L'Étoile du Nord (French: The Star o...
5,"Anthem: ""Hail! Minnesota""","Anthem: ""Hail! Minnesota"""
6,Map of the United States with Minnesota highli...,Map of the United States with Minnesota highli...
7,Country,United States
8,Before statehood,Minnesota Territory
9,Admitted to the Union,"May 11, 1858 (32nd State in the Union)"
10,Capital,Saint Paul
11,Largest city,Minneapolis
12,Largest metro and urban areas,Minneapolis–Saint Paul
13,Government,Government
14,• Governor,Tim Walz (DFL)
15,• Lieutenant Governor,Peggy Flanagan (DFL)
16,Legislature,Minnesota Legislature
17,• Upper house,Senate
18,• Lower house,House of Representatives
19,Judiciary,Minnesota Supreme Court
20,U.S. senators,Amy Klobuchar (DFL)Tina Smith (DFL)
21,U.S. House delegation,4 Democrats3 Republicans1 vacancy (list)
22,Area,Area
23,• Total,"86,935.83 sq mi (225,163 km2)"
24,• Land,"79,626.74 sq mi (206,232 km2)"
25,• Water,"7,309.09 sq mi (18,930 km2) 8.40%"
26,• Rank,12th
27,Dimensions,Dimensions
28,• Length,about 400 mi (640 km)
29,• Width,200–350 mi (320–560 km)
30,Elevation,"1,200 ft (370 m)"
31,Highest elevation (Eagle Mountain[1][2]),"2,301 ft (701 m)"
32,Lowest elevation (Lake Superior[1][2][3]),602 ft (183 m)
33,Population (2021),Population (2021)
34,• Total,"5,707,390[4]"
35,• Rank,22nd
36,• Density,68.9/sq mi (26.6/km2)
37,• Rank,30th (2015 estimate)
38,• Median household income,"$74,593[5]"
39,• Income rank,13th
40,Demonym(s),Minnesotan
41,Language,Language
42,• Official language,None
43,• Spoken language,English 88.9% Spanish Somali Hmong[6]
44,Time zone,UTC−06:00 (Central)
45,• Summer (DST),UTC−05:00 (CDT)
46,USPS abbreviation,MN
47,ISO 3166 code,US-MN
48,Traditional abbreviation,Minn.
49,Latitude,43° 30′ N to 49° 23′ N
50,Longitude,89° 29′ W to 97° 14′ W
51,Website,mn.gov


# SQL (Optional)

pandas.io.sql 模块提供了一组查询包装器，以方便数据检索并减少对特定于 DB 的 API 的依赖。数据库抽象由 SQLAlchemy 提供（如果已安装）。此外，您的数据库还需要一个驱动程序库。此类驱动程序的示例是用于 PostgreSQL 的 psycopg2 或用于 MySQL 的 pymysql。对于 SQLite，它默认包含在 Python 的标准库中。您可以在 SQLAlchemy 文档中找到每种 SQL 方言支持的驱动程序的概述。

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.
    
    
https://www.liaoxuefeng.com/wiki/1016959663602400/1017803857459008

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('sqlite:///:memory:')

In [10]:
df

,Minnesota,Minnesota.1
0,State,State
1,State of Minnesota,State of Minnesota
2,.mw-parser-output .ib-settlement-cols{text-ali...,.mw-parser-output .ib-settlement-cols{text-ali...
3,"Nickname(s): Land of 10,000 Lakes;North Star S...","Nickname(s): Land of 10,000 Lakes;North Star S..."
4,Motto(s): L'Étoile du Nord (French: The Star o...,Motto(s): L'Étoile du Nord (French: The Star o...
5,"Anthem: ""Hail! Minnesota""","Anthem: ""Hail! Minnesota"""
6,Map of the United States with Minnesota highli...,Map of the United States with Minnesota highli...
7,Country,United States
8,Before statehood,Minnesota Territory
9,Admitted to the Union,"May 11, 1858 (32nd State in the Union)"
10,Capital,Saint Paul
11,Largest city,Minneapolis
12,Largest metro and urban areas,Minneapolis–Saint Paul
13,Government,Government
14,• Governor,Tim Walz (DFL)
15,• Lieutenant Governor,Peggy Flanagan (DFL)
16,Legislature,Minnesota Legislature
17,• Upper house,Senate
18,• Lower house,House of Representatives
19,Judiciary,Minnesota Supreme Court
20,U.S. senators,Amy Klobuchar (DFL)Tina Smith (DFL)
21,U.S. House delegation,4 Democrats3 Republicans1 vacancy (list)
22,Area,Area
23,• Total,"86,935.83 sq mi (225,163 km2)"
24,• Land,"79,626.74 sq mi (206,232 km2)"
25,• Water,"7,309.09 sq mi (18,930 km2) 8.40%"
26,• Rank,12th
27,Dimensions,Dimensions
28,• Length,about 400 mi (640 km)
29,• Width,200–350 mi (320–560 km)
30,Elevation,"1,200 ft (370 m)"
31,Highest elevation (Eagle Mountain[1][2]),"2,301 ft (701 m)"
32,Lowest elevation (Lake Superior[1][2][3]),602 ft (183 m)
33,Population (2021),Population (2021)
34,• Total,"5,707,390[4]"
35,• Rank,22nd
36,• Density,68.9/sq mi (26.6/km2)
37,• Rank,30th (2015 estimate)
38,• Median household income,"$74,593[5]"
39,• Income rank,13th
40,Demonym(s),Minnesotan
41,Language,Language
42,• Official language,None
43,• Spoken language,English 88.9% Spanish Somali Hmong[6]
44,Time zone,UTC−06:00 (Central)
45,• Summer (DST),UTC−05:00 (CDT)
46,USPS abbreviation,MN
47,ISO 3166 code,US-MN
48,Traditional abbreviation,Minn.
49,Latitude,43° 30′ N to 49° 23′ N
50,Longitude,89° 29′ W to 97° 14′ W
51,Website,mn.gov

In [11]:
df.to_sql('data', engine)

In [12]:
sql_df = pd.read_sql('data',con=engine)

In [13]:
sql_df

,index,Minnesota,Minnesota.1
0,0,State,State
1,1,State of Minnesota,State of Minnesota
2,2,.mw-parser-output .ib-settlement-cols{text-ali...,.mw-parser-output .ib-settlement-cols{text-ali...
3,3,"Nickname(s): Land of 10,000 Lakes;North Star S...","Nickname(s): Land of 10,000 Lakes;North Star S..."
4,4,Motto(s): L'Étoile du Nord (French: The Star o...,Motto(s): L'Étoile du Nord (French: The Star o...
5,5,"Anthem: ""Hail! Minnesota""","Anthem: ""Hail! Minnesota"""
6,6,Map of the United States with Minnesota highli...,Map of the United States with Minnesota highli...
7,7,Country,United States
8,8,Before statehood,Minnesota Territory
9,9,Admitted to the Union,"May 11, 1858 (32nd State in the Union)"
10,10,Capital,Saint Paul
11,11,Largest city,Minneapolis
12,12,Largest metro and urban areas,Minneapolis–Saint Paul
13,13,Government,Government
14,14,• Governor,Tim Walz (DFL)
15,15,• Lieutenant Governor,Peggy Flanagan (DFL)
16,16,Legislature,Minnesota Legislature
17,17,• Upper house,Senate
18,18,• Lower house,House of Representatives
19,19,Judiciary,Minnesota Supreme Court
20,20,U.S. senators,Amy Klobuchar (DFL)Tina Smith (DFL)
21,21,U.S. House delegation,4 Democrats3 Republicans1 vacancy (list)
22,22,Area,Area
23,23,• Total,"86,935.83 sq mi (225,163 km2)"
24,24,• Land,"79,626.74 sq mi (206,232 km2)"
25,25,• Water,"7,309.09 sq mi (18,930 km2) 8.40%"
26,26,• Rank,12th
27,27,Dimensions,Dimensions
28,28,• Length,about 400 mi (640 km)
29,29,• Width,200–350 mi (320–560 km)
30,30,Elevation,"1,200 ft (370 m)"
31,31,Highest elevation (Eagle Mountain[1][2]),"2,301 ft (701 m)"
32,32,Lowest elevation (Lake Superior[1][2][3]),602 ft (183 m)
33,33,Population (2021),Population (2021)
34,34,• Total,"5,707,390[4]"
35,35,• Rank,22nd
36,36,• Density,68.9/sq mi (26.6/km2)
37,37,• Rank,30th (2015 estimate)
38,38,• Median household income,"$74,593[5]"
39,39,• Income rank,13th
40,40,Demonym(s),Minnesotan
41,41,Language,Language
42,42,• Official language,None
43,43,• Spoken language,English 88.9% Spanish Somali Hmong[6]
44,44,Time zone,UTC−06:00 (Central)
45,45,• Summer (DST),UTC−05:00 (CDT)
46,46,USPS abbreviation,MN
47,47,ISO 3166 code,US-MN
48,48,Traditional abbreviation,Minn.
49,49,Latitude,43° 30′ N to 49° 23′ N
50,50,Longitude,89° 29′ W to 97° 14′ W
51,51,Website,mn.gov

# Great Job!